html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* Set Main Menu set background to black need to add background image when art is made */

.menu-background {
  background-image: url(./../public/swagmenu.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100vw;
  height: 100vh;
}

/* Make slanted header Cow tipper */

.header-menu {
  position: absolute;
  padding-top: 10vh;
  color: red;
  font-size: 72pt;
  rotate:calc(-25deg)
}

/* Make canvas a flex block */
canvas {
  display: block;
}

.centre-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu-buttons {
  font-size: x-large;
  background: rgba(255, 255, 255, 0.36);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 1);
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.menu-buttons:hover {
  font-size: xx-large;
  background: #FFA500;
}

h1{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2{
  text-align: center;
  background-color: rgba(165, 42, 42, 0.628);
  margin-top: 0px;
}

h3{
  margin-top: 0px;
  font-size: 60px;
}

p{
  text-align: center;
  background-color: red;
  margin-top: 0px;
}

head{
  padding: 70px;
  border: 1px solid #4caf50;
  background-color: red;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main{
  flex-grow: 1;
}

footer{
  margin-top: auto;
}
