html {
    scroll-behavior: smooth;
    scroll-padding: 72px;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMaxSystemFont, Segoe UI, Roboto, Oxygen,
        Unbuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
    color: #fff;
    background-color: #fff;
}